/* Base Styles */
body {
  font-family: Helvetica;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center;

  background-color: white;
  background-image: radial-gradient(
    circle,
    rgba(209, 209, 209, 0.5) 10%,
    transparent 0%
  );
  background-size: 20px 20px;
}

.homepage-info {
  position: absolute;
  left: 20px;
  top: 0;
  text-align: center;
}

.heading {
  font-size: 2.5em;
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: normal;
}

.heading a {
  text-decoration: none;
  color: inherit;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 1em;
  text-align: left;
  margin-top: 0px;
  /* font-weight: normal; */
  font-style: italic;
}

.link-container a {
  text-decoration: none;
  color: black;
}

video {
  margin-top: 80px;
  width: 80vw;
  height: auto;
  border: 2px solid black;
}

.footer {
  color: black;
  text-align: center;
  padding: 20px;
  font-size: 10px;
  position: relative;
  bottom: 0;
  width: 100%;
  margin: 0;
  color: inherit;

}




.navbar {
  position: fixed; /* Fixed position to stay on the right */
  right: 3%; /* Align to the right side */
  top: 5%; /* Vertically center the navbar */
  transform: translateY(-50%); /* Adjust for true vertical center */
  display: flex;
  flex-direction: column; /* Stack the items vertically */
  align-items: flex-start; /* Align links to the left of the navbar */
  gap: 20px; /* Space between the navbar items */
  padding: 20px; /* Padding inside navbar */
}

.navbar a {
  text-decoration: none; /* Remove underline */
  color: black; /* Link color */
  font-size: 18px; /* Font size */
}

.navbar a:hover {
  color: #000000;
  text-decoration: underline;
}
.tools-link::after {
  content: "←";
  opacity: 0;
  /* transition: opacity 0.2s ease; */
}

.tools-link:hover::after {
  opacity: 1;
}