/* Base Styles */
body {
  font-family: Helvetica;
  text-align: center;
  justify-content: center; /* Horizontally center */
  align-items: center;

  background-color: white;
  background-image: radial-gradient(circle, #f2f2f2 10%, transparent 0%);
  background-size: 20px 20px;
}

.homepage-info {
  position: absolute;
  left: 20px;
  top: 0;
  text-align: center;
}

.heading {
  font-size: 2.5em;
  margin-top: 8px;
  margin-bottom: 0px;
  text-align: left;
  font-weight: normal;
}

.heading a {
  text-decoration: none;
  color: inherit;
}

.subtitle-container {
  display: flex;
  justify-content: space-between;
}

.subtitle {
  font-size: 1em;
  text-align: left;
  margin-top: 0px;
  /* font-weight: normal; */
  font-style: italic;
}

.link-container a {
  text-decoration: none;
  color: black;
}

video {
  margin-top: 80px;
  width: 80vw;
  height: auto;
  border: 2px solid black;
}
